<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    Spreadsheet Key
    <%= form.text_field :spreadsheet_key %>
  </div>

  <div class="field">
    Answers Key
    <%= form.text_field :answers_key %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
