<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Número de respuestas:</strong>
  <%= @survey.responses.count %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
